

<div class="columns facebook text-center">
    <a href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}" target="_blank">
        <i class="fab fa-facebook" aria-hidden="true"></i>
    </a>
</div>

<div class="columns twitter text-center">
    <a href="http://twitter.com/share?url={{site.url}}{{page.url}}" target="_blank">
        <i class="fab fa-twitter" aria-hidden="true"></i>
    </a>
</div>
    
<div class="columns whatsapp text-center">
    <a href="whatsapp://send?text={{site.url}}{{page.url}}" target="_blank">
        <i class="fab fa-whatsapp" aria-hidden="true"></i>
    </a>
</div>
